<!DOCTYPE html>
<html
>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="icon" href="https://www.flaticon.com/premium-icon/icons/svg/562/562678.svg">
    <title>Not found</title>
</head>
<body>
<div class="container my-3">
<div class="jumbotron">
    <h1 class="display-4">Page not found</h1>
    <p class="lead">Something went wrong.Our developers is already handling this misunderstanding</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/" role="button">Go to main</a>
    </p>
</div>
</div>
</body>
</html>