<div class="position-relative overflow-hidden p-2 p-md-5 m-md-3 text-left shadow rounded" th:fragment="carousel">
    <div class="col-md-5 p-lg-5  my-5">
        <h1 class="display-4 font-weight-normal">Canteen</h1>
        <p class="lead font-weight-normal">Quickly order the food by the QR-Code or surf the website ,find your chair,verification and let you pick loved ones!!!</p>
        <a class="btn btn-outline-secondary" href="/about">Coming soon</a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>